# LIST COMPREHENSION

In [3]:
town_hall='Bola Ahmed Tinubu'
[x for x in town_hall]

['B', 'o', 'l', 'a', 'T', 'i', 'n', 'u', 'b', 'u']

##### write a progrom to produce square of numbeers from 1 to 5, store them in a list and print the list

In [11]:
squared_list = []
for i in range(1,6):
    squared_list.append(i**2)
print(squared_list)

[1, 4, 9, 16, 25]

In [13]:
square_numbs = [x*x for x in range(1,11)]
print(square_numbs)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Write a program to accept a string from user and covert each letter of the string into Upper case and store it in a list and print that list

In [3]:
capital =[]
passd_str = input('Enter the string')
for i in passd_str:
    capital.append(i.upper())
print(capital)

Enter the string naofvv
[' ', 'N', 'A', 'O', 'F', 'V', 'V']

In [7]:
acceptd_str = input('enter string')
[x.upper() for x in acceptd_str]

enter stringsgjksdg

['S', 'G', 'J', 'K', 'S', 'D', 'G']

In [9]:
[g.upper() for g in 'ntui akwa samuel'.split()]

['NTUI', 'AKWA', 'SAMUEL']

Write a program to accept 5 integers from a user and store them in a list, and now display the sum of the element and the element of list.

In [30]:
accept= input('enter 5 integers: ').split()
holding=[]
for i in accept:
    holding.append(int(i))
print(holding)
sum(holding)

enter 5 integers: 1 2 3 4 5 6 7
[1, 2, 3, 4, 5, 6, 7]

28

In [29]:
my_list=[]
for i in range(5):
    num=int(input())
    my_list.append(num)
sum(my_list)

22
32
37
41
40

172

In [27]:
numbers

5

WAP to produce square of odd numbers from 1-50, then store numbers in a list and print the list

1) procedures in for Loops
2) Procedures in List comprehension

In [23]:
odd_squares = []
for i in range(1,51):
    if i%2!=0:
        odd_squares.append(i**2)
print(odd_squares)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361, 441, 529, 625, 729, 841, 961, 1089, 1225, 1369, 1521, 1681, 1849, 2025, 2209, 2401]

In [21]:
[x**2 for x in range(1,51) if x%2!=0]

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

create a function called removevowels() which accepts a string as an argument and returns a list with all the vowels removed from the string

1) using for loop

2) using List comprehension

# TUPLES

In [31]:
my_tuple= ('yam', 4, 2+2j, 0, 434.234, True, range(1,11))

In [33]:
type(my_tuple)

tuple

In [34]:
nums =44,23, 76, 86

In [35]:
nums

(44, 23, 76, 86)

In [36]:
v,w,x,y = nums

In [46]:
list(nums)

[44, 23, 76, 86]

In [48]:
tuple(my_tuple[6])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [43]:
x=range(11)
print(x)

range(0, 11)

In [1]:
set(range(1,-10,-1))

{-9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1}

In [5]:
set(range(13,10,-1))

{11, 12, 13}